extends ./layouts/layout.pug

block content
  div.container.d-flex.flex-column.align-items-center.justify-content-center
    .h2.mb-5.text-info Hello #{name}
    img(src="/images/cover.jpg", alt="cover").h-100
    a(href="/users")
      .btn.btn-info.mt-5 Explore My Web