.card.text-center
    .h2 Create User
    form(action="/users/create", method="post")
        label Name
        input(name="name", type="text")
        //- input(label="age" type="text")
        button create
