extends ../layouts/layout.pug

block content
    h3 User Info
    table.table
        tr
            th Avatar
            th Name
            th Phone
        tr  
            td
                img(src=user.avatar, width="45")
            td= user.name
            td= user.phone